:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


div{
  /* border: 1pt red solid */
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

button {
  height: fit-content;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.flex{
  display: flex;
}

#container--top{
  max-width: 360px;
  flex-direction: column;
  border: solid 2px black;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 3%);
  z-index: 1;
  background: white;

}

#container--search{
  margin:10px;
  font-size:.9rem

}

#search{
  margin:.8em;
}

.searchContainer {
  margin:auto;
  height: auto;

}


.searchInput {
  width:250px;

}
.searchResults{
  min-height: 10em;
  text-align: left;
  margin:auto;
  border:black solid 2pt;
  border-radius: 5px;
  padding:5px;
}

.searchResult{
  padding: 1px 2px;
  
}

.searchResult:hover{
  border: 1px solid blue;
  border-radius: 8px;
  margin: -1px;
  background-color: aliceblue;
}


#container--mediaDetails{
  width: 260px;
  padding:10px;
  margin:auto;
  column-gap: 5px;

}


.hidden{
  display: none;
}

.hiddenVisibility{
  visibility: hidden;
}

#mediaDetails--image{
  /* width:180px; */
  max-height: 165px;
}



#container--library{
  display: flex;
  flex-wrap: wrap;
}

.libraryItem{
  margin:5px;
  max-width: 250px;
  max-height: 200px;
  display:flex;
  /* height:200px;
  width: 200px; */
  position: relative;
  
}
.libraryImage{
  max-width: 250px;
  max-height: 165px;
  z-index: -1;
  
}

.libraryItemText{
  font-weight: 500;
  font-size: 1.5em;
  color:white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.greyScale{
  filter: blur(2px) brightness(.6)
}

#textContainer{


}
.thumbText{position: relative;


}






.delCard {
  height:auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  
}

.animation {
  animation: shake .2s;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
  15% { transform: translate(3px, 2px) rotate(0deg); }
  25% { transform: translate(1px, -1px) rotate(1deg); }
  35% { transform: translate(-1px, 2px) rotate(-1deg); }
  45% { transform: translate(-3px, 1px) rotate(0deg); }
  55% { transform: translate(3px, 1px) rotate(-1deg); }
  65% { transform: translate(-1px, -1px) rotate(1deg); }
  75% { transform: translate(1px, 2px) rotate(0deg); }
  85% { transform: translate(1px, -2px) rotate(-1deg); }
}



/* 
app widths:
for phone : 360
horizontal : 640

for tablet : 768
for computer 1366


*/
@media only screen and (min-width:600px)  {
  #app {
    max-width: 600px ;
  }
 
  header{
    background-color: blue;
  }

}

@media only screen and (min-width:800px)  {
 
  #app {
    max-width: 800px ;
  }

  #container--top{
    
    flex-direction: row;
    max-width: 800px;
  }
  header{
    background-color: red;
  }

}

@media only screen and (min-width:1000px)  {
 
  #app {
    max-width: 1000px ;
  }

  header{
    background-color: black;
  }

}




